*
*/
!CaptureMode.swift
!PhotoCaptureDelegate.swift
!PreviewView.swift
!ShutterButtonViewController.swift
!STCameraViewController.swift
!FlashChoiceViewController.swift
!Podfile
!Podfile.lock
!.gitignore
!README.md
